<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite xmlns:con="http://eviware.com/soapui/config" id="81849d6a-8560-4c42-aa1f-5b8097b33826" name="Kafka - Avro Schema - Scripts">
  <con:settings id="3e2e1b90-16bb-4a66-bdb4-08e4747e1463">
    <con:setting id="ee7bfa08-4f52-46c0-9476-a3d20d1bcddbfileName">Kafka---example.avroSchema.topic</con:setting>
    <con:setting id="a777138a-e1c8-4d05-8fb5-7524cc88f185fileName">Kafka---Avro-Schema---Scripts</con:setting>
    <con:setting id="81849d6a-8560-4c42-aa1f-5b8097b33826fileName">Kafka---Avro-Schema---Scripts</con:setting>
  </con:settings>
  <con:runType>PARALLELL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
