<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite xmlns:con="http://eviware.com/soapui/config" id="dfbc18d8-b617-4dda-92c2-20a9bd0a2880" name="Kafka - No Shema - Scripts">
  <con:settings id="3e2e1b90-16bb-4a66-bdb4-08e4747e1463">
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="bb30e32a-570a-43bf-a4ee-172ea8440723fileName">Kafka---example.noSchema.topic</con:setting>
    <con:setting id="479a638b-bf3a-4854-859a-0fe7604df6d8fileName">Kafka---No-Shema---Scripts</con:setting>
    <con:setting id="dfbc18d8-b617-4dda-92c2-20a9bd0a2880fileName">Kafka---No-Shema---Scripts</con:setting>
  </con:settings>
  <con:runType>PARALLELL</con:runType>
  <con:properties/>
  <con:reportScript>testSuite.project.getWssContainer.getClass()</con:reportScript>
  <con:reportParameters/>
</con:testSuite>
